@import "tailwindcss";

body {
  color: white;
  background-color: hsla(0, 0%, 7%, 1);
  /* background-color: hsl(40, 20%, 97%); */
}

.collections-scroll::-webkit-scrollbar {
  height: 6px;
}

.collections-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.collections-scroll::-webkit-scrollbar-thumb {
  background: hsla(52, 98%, 53%, 1);
  border-radius: 9999px;
}

.collections-scroll::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.collections-scroll {
  scrollbar-width: thin;
  scrollbar-color: hsla(52, 98%, 53%, 1) transparent;
}
